/* base styles */
.unslider-container {
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

.unslider-wrap {
  position: relative;
  overflow: hidden;
  /* transition: all 1s; */
}

/* .unslider-wrap.unslider-carousel>li {
  float: left;
} */
.unslider-wrap.unslider-horizontal {
  height: 100%;
}
.unslider-horizontal .unslider-items {
  float: left;
}

/* 
.unslider-vertical>ul {
  height: 100%;
}

.unslider-vertical li {
  float: none;
  width: 100%;
}

.unslider-fade {
  position: relative;
}

.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8;
}

.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10;
} */

.unslider-container li,.unslider-container ol,.unslider-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

.unslider-container:hover .unslider-arrow {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.unslider-arrow {
  opacity: 0;
  transition: opacity .2s ease-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  height: 52px;
  width: 30px;
  color: #fff;
}

.unslider-arrow.prev {
  left: 0px;
  transform: rotate(180deg);
}

.unslider-arrow.next {
  right: 0px;
}
.unslider-arrow {
  background-color: #22ac39
}

.unslider-arrow.prev {
  background: url(https://p2.ssl.qhimg.com/t01a7b3919fe32d7767.png);
  background-size: cover;
  transform: rotate(0) translateY(-50%);
}

.unslider-arrow.next {
  background: url(https://p4.ssl.qhimg.com/t01d002499ab8983ded.png);
  background-size: cover
}

/* dots styles */
.unslider-nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.unslider-nav ol {
  padding-top: 5px;
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: #ccc;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  /* border: 2px solid #fff; */
  cursor: pointer;
  transition: width 1s;
}
.unslider-nav ol li.unslider-active {
  background: #22ac39;
  cursor: pointer;
  width: 20px;
  transition: width 1s;
}